BOT_TOKEN=
CLIENT_ID=
GUILD_ID=
STAFF_ROLE=
LOG_CHANNEL=
NOTAM_CHANNEL=
CONTRACT_CHANNEL=
CONTRACT_REVIEW_CHANNEL=
REVIEW_CHANNEL=
TICKET_CATEGORY=
EMOJI_FOLDER_ID=
EMOJI_FOLDER_NAME=afv_folder
EMOJI_APPROVE_ID=
EMOJI_APPROVE_NAME=afv_yes
EMOJI_ROUTE_ID=
EMOJI_ROUTE_NAME=afv_route
EMOJI_TRASH_ID=
EMOJI_TRASH_NAME=afv_trash
FLIGHT_BASE_PAY=500
CURRENCY=EUR
CURRENCY_ICON=€
